---
http_interactions:
- request:
    method: post
    uri: https://doraapi.preint.cwds.io/dora/facilities/facility/_search
    body:
      encoding: UTF-8
      string: '{"query":{"bool":{"should":[{"bool":{"must":[{"match":{"name":"xy"}}]}}]}},"from":0,"size":50,"sort":[]}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - 4b1e6b58-a3bc-48e3-a609-f40ccc91dca5
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":0,"max_score":null,"hits":[]}}'
  recorded_at: Fri, 15 Feb 2019 20:22:24 GMT
recorded_with: VCR 4.0.0
