---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 8c6117f8-1747-4a53-9645-adca2a45c8ba
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alameda",
            "id" : 1
          }, {
            "value" : "Alpine",
            "id" : 2
          }, {
            "value" : "Amador",
            "id" : 3
          }, {
            "value" : "Butte",
            "id" : 4
          }, {
            "value" : "Calaveras",
            "id" : 5
          }, {
            "value" : "Colusa",
            "id" : 6
          }, {
            "value" : "Contra Costa",
            "id" : 7
          }, {
            "value" : "Del Norte",
            "id" : 8
          [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/facility-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 8c6117f8-1747-4a53-9645-adca2a45c8ba
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Adop[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/license-status-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 8c6117f8-1747-4a53-9645-adca2a45c8ba
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Application Denied",
            "id" : 8,
            "active" : false
          }, {
            "value" : "Application Withdrawn",
            "id" : 7,
            "active" : false
          }, {
            "value" : "Certified (CFH, RFH & OSGHC)",
            "id" : 12,
            "active" : true
          }, {
            "value" : "Closed Non-payment",
            "id" : 13,
            "active" : false
          }, {
            "value" : "Closed, Agency Initiated",
            "id" : 10,
            "active" : false
          }, {
            "valu[...]
- request:
    method: post
    uri: https://doraapi.preint.cwds.io/dora/facilities/facility/_search
    body:
      encoding: UTF-8
      string: '{"query":{"bool":{"should":[{"bool":{"must":[{"term":{"county.id":"56"}},{"term":{"type.id":"20"}}]}}]}},"from":"0","size":"50","sort":["_score",{"name.for_sort":{"order":"asc"}}]}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - 8c6117f8-1747-4a53-9645-adca2a45c8ba
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":19,"max_score":null,"hits":[{"_index":"facilities","_type":"facility","_id":"Bw4fjTq0Mq","_score":4.3072987,"_source":{"href":null,"id":"Bw4fjTq0Mq","capacity_last_changed":null,"type":{"id":"20","value":"Relative/NREFM
        Home"},"adoption_home_only_indicator":false,"name":"2132","licensee_name":"","license_type":null,"assigned_worker":{"phones":[],"email":null,"full_name":"","id":null},"district_office":null,"license_number":null,"status":null,"capacity":0,"adjusted_capacity":0,"available_beds":null,"license_effective_date":null,"original_application_recieved_date":null,"last_visit_date":null,"last_deferred_visit_date":null,"email_address":null,"full_residential_address":"31232
        321321 CA","full_mailing_address":null,"last_visit_reason":null,"last_deferred_visit_reason":null,"county":{"id":"56","value":"Ventura","lis_code":null},"phones":[],"addresses":[{"id":null,"type":"Residential","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"31232","city":"321321","state":"CA","zip_code":null,"zip_suffix_code":null}}],"visits":[],"annual_visit_year":null,"prelicensing_visit_date":null,"facility_source":"CWS/CMS"},"sort":[4.3072987,"2132"]},{"_index":"facilities","_type":"facility","_id":"AezeoVE0QM","_score":4.3072987,"_source":{"href":null,"id":"AezeoVE0QM","capacity_last_changed":null,"type":{"id":"20","value":"Relative/NREFM
        Home"},"adoption_home_only_indicator":false,"name":"Nav AFCARS SCP Ethnicities","licensee_name":"","license_type":null,"assigned_worker":{"phones":[],"email":null,"full_name":"","id":null},"district_office":null,"license_number":null,"status":null,"capacity":0,"[...]
