---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 2f8387ba-54db-4b83-933f-b5f7c1ac8a94
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alameda",
            "id" : 1
          }, {
            "value" : "Alpine",
            "id" : 2
          }, {
            "value" : "Amador",
            "id" : 3
          }, {
            "value" : "Butte",
            "id" : 4
          }, {
            "value" : "Calaveras",
            "id" : 5
          }, {
            "value" : "Colusa",
            "id" : 6
          }, {
            "value" : "Contra Costa",
            "id" : 7
          }, {
            "value" : "Del Norte",
            "id" : 8
          [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/facility-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 2f8387ba-54db-4b83-933f-b5f7c1ac8a94
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Adop[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/license-status-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 2f8387ba-54db-4b83-933f-b5f7c1ac8a94
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Application Denied",
            "id" : 8,
            "active" : false
          }, {
            "value" : "Application Withdrawn",
            "id" : 7,
            "active" : false
          }, {
            "value" : "Certified (CFH, RFH & OSGHC)",
            "id" : 12,
            "active" : true
          }, {
            "value" : "Closed Non-payment",
            "id" : 13,
            "active" : false
          }, {
            "value" : "Closed, Agency Initiated",
            "id" : 10,
            "active" : false
          }, {
            "valu[...]
- request:
    method: post
    uri: https://doraapi.preint.cwds.io/dora/facilities/facility/_search
    body:
      encoding: UTF-8
      string: '{"query":{"bool":{"should":[{"bool":{"must":[{"term":{"county.id":"19"}}]}}]}},"from":"0","size":"50","sort":["_score",{"name.for_sort":{"order":"asc"}}]}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - 2f8387ba-54db-4b83-933f-b5f7c1ac8a94
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"took":4,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":3810,"max_score":null,"hits":[{"_index":"facilities","_type":"facility","_id":"M9YABbM0UI","_score":1.0,"_source":{"href":null,"id":"M9YABbM0UI","capacity_last_changed":null,"type":{"id":"6","value":"Foster
        Family Home"},"adoption_home_only_indicator":false,"name":"Duplicate Licensed
        FFH #2","licensee_name":"","license_type":null,"assigned_worker":{"phones":[{"relation":"primary","number":"4353543554"}],"email":null,"full_name":"Shelby
        Released","id":null},"district_office":{"number":"19","name":"Los Angeles"},"license_number":"12345670","status":{"active":false,"id":"19","value":"Licensed
        Pendng Incr in Capacty/Toddlers"},"capacity":1,"adjusted_capacity":0,"available_beds":null,"license_effective_date":{"year":2003,"month":"JULY","era":"CE","dayOfMonth":1,"dayOfWeek":"TUESDAY","dayOfYear":182,"leapYear":false,"monthValue":7,"chronology":{"id":"ISO","calendarType":"iso8601"}},"original_application_recieved_date":{"year":2003,"month":"JULY","era":"CE","dayOfMonth":1,"dayOfWeek":"TUESDAY","dayOfYear":182,"leapYear":false,"monthValue":7,"chronology":{"id":"ISO","calendarType":"iso8601"}},"last_visit_date":null,"last_deferred_visit_date":null,"email_address":null,"full_residential_address":"That
        Street Hollywood CA","full_mailing_address":null,"last_visit_reason":null,"last_deferred_visit_reason":null,"county":{"id":"19","value":"Los
        Angeles","lis_code":null},"phones":[],"addresses":[{"id":null,"type":"Residential","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"That
        Street","city":"Hollywood","state":"CA","zip_code":null,"zip_suffix_code":null}}],"visits":[],"annual_visit_year":null,"prelicensing_visit_date":null,"facility_source":"CWS/CMS"},"sort":[1.0,"#2"]},{"_index":"facilities","_type":"facility","_id":"4nc0TFB36B","_score":1.0,"_source":{"href":null,"id":"4nc0TFB36B","capacity_last_changed":null,"type":{"id":"22","value":"Foster
        Family Agency Certified Home"},"adoption_home_only_indicator":false,"name":"David
        & Margaret, Co","licensee_name":"","license_type":null,"assigned_worker":{"phones":[],"email":null,"full_name":"","id":null},"district_office":null,"license_number":null,"status":null,"capacity"[...]
[...]
- request:
    method: post
    uri: https://doraapi.preint.cwds.io/dora/facilities/facility/_search
    body:
      encoding: UTF-8
      string: '{"query":{"bool":{"should":[{"bool":{"must":[{"term":{"county.id":"19"}}]}}]}},"from":"0","size":"10","sort":["_score",{"name.for_sort":{"order":"asc"}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - 2f8387ba-54db-4b83-933f-b5f7c1ac8a94
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"failed":0},"hits":{"total":3810,"max_score":null,"hits":[{"_index":"facilities","_type":"facility","_id":"M9YABbM0UI","_score":1.0,"_source":{"href":null,"id":"M9YABbM0UI","capacit[...]
[...]
