.facility-details {
    padding: 20px;
}

.headliner {
    width: 100%;
    height: 2px;
    background: #000;
}

.facility-address .inner_block {
    padding: 20px 10px 20px 5px;
}

.facility-address {
    padding: 20px;
}

.facility-details .inner_block {
    padding: 20px 10px 20px 5px;
}

.facility-address .inner_block:last-child {
    padding-left: 20px;
}

.facility-details .inner_block:last-child {
    padding-left: 20px;
}

.facilityCardTitle{
    font-size: 2rem !important;
}

.small_inner_block p:first-child, .inner_block_address_titles  p:first-child {
    font-family: 'Source Sans Pro Bold', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
    color: #8d8d8d;
}

.small_inner_block p:nth-child(n+2), .inner_block_address_titles div:nth-child(n+2) {
    font-family: 'Source Sans Pro ExtraLight', sans-serif;
    font-size: 16px;
    color: #2b2b2b;
}

.small_inner_block, .inner_block_address_titles {
    margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
    .facility-children table {
        border: 0;
    }
    .facility-children table thead {
        display: none;
    }
    .facility-children table tr {
        display: block;
        border-bottom: 1px solid #ddd;
    }
    .facility-children table td {
        display: block;
        text-align: right;
        font-size: 13px;
        margin-bottom: 10px;
    }
    .facility-children table td:last-child {
        border-bottom: 0;
    }
    .facility-children table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.facility-children {
    padding: 20px;
}

.ReactTable {
    border-top: none;
}

 .facility-children .ReactTable .rt-thead .rt-tr {
    text-align: initial;	
}	

 .facility-children .ReactTable {	
    border-top-width: 0px;	
}		

 .facility-children .table>tbody tr:last-child {	
    padding-bottom: 5px;	
    border-bottom: 1px solid #ddd;	
}	

 .facility-children .table>thead>tr {	
    color: #000;	
    border-top: 1px solid #ddd;	
}

.ReactTable .rt-tbody{
    border-top: 2px outset;
}

@media only screen and (max-width: 787px) {
    .facility_blocks>div {
        margin-bottom: 20px;
        padding-left: 0;
    }
    .facility-address-block>div {
        margin-bottom: 20px;
        padding-left: 0;
    }
    .facility-address .inner_block {
        padding: 0px 0px 0px 0px;
    }
    .facility-details .inner_block {
        padding: 5px 5px 0px 5px;
    }
    .small_inner_block {
        margin-bottom: 0px;
    }
}

.sub-component{
    padding: 0px 10px 10px 10px;
}

.rt-noData {
    opacity: 0;
}

.rt-td {
    white-space: normal !important
}
